{% extends "base.html" %}

{% block content %}


<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
    {% if video_urls %}

        {% for url in video_urls %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="grid-item grid-item--height3">
                    <a href="{{url.video_url}}" target="_blank">
                        <iframe src="{{url.video_url}}" class="responsive-iframe-even"></iframe>
                    </a>
                </div>
            {% else %}
            <div class="grid-item grid-item--height2">
                <a href="{{url.video_url}}" target="_blank">
                    <iframe src="{{url.video_url}}" class="responsive-iframe-odd"></iframe>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    <!-- <div class="grid-item"></div> -->

    {% endif %}
</div>


<script>
    // $('.grid').masonry({
    //     itemSelector: '.grid-item',
    //     columnWidth: 160
    // });

</script>

{% endblock content %}